* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: lightyellow;
}

#typingArea {
  width: fit-content;
  text-align: center;
  font: 24px "Segoe UI", sans-serif;
  line-height: 2;
  white-space: pre-wrap;
}

#cursor {
  outline: 2px solid hotpink;
}

.fixed {
  color: black;
}

.untyped,
.hint {
  text-decoration: black underline;
  text-underline-offset: 2px;
}

.untyped {
  color: palevioletred;
  text-decoration-skip-ink: none;
}

.hint {
  color: lightgray;
  text-decoration-skip-ink: auto;
}

.hidden {
  background-color: palegoldenrod;
  /* display: none; */
}
